<h1><%= @recipe.name %></h1>
<p>Ingredients: <%= @recipe.ingredients %><p>
<p>Cooking Time: <%= @recipe.cook_time %><p>
<br>
<a href="/recipes/<%= @recipe.id %>/edit">Edit this recipe</a><br>
<a href="/recipes/<%= @recipe.id %>/delete">Delete this recipe</a><br>
<a href="/recipes">Return to main page</a>
